<footer>
    <div class="infos">
        <div class="location">
            <p>Grand-Rue,1</p>
            <p>1348 LLN</p>
            <p>010/123 45 67</p>
            <a href="#">info@labranchedolivier.com</a>
        </div>
        <div class="hours">
            <p>Ouvert tous les jours de 11h30 à 23h30</p>
        </div>
    </div>
    <p class="copywright">©La Branche d'Olivier || 2024</p>
</footer>