<nav>
    <div class="site-title">

        <a href="/">
            <h1>La Branche d'Olivier</h1>
        </a>
        <p>Restaurant libanais</p>
    </div>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/menu">La Carte</a></li>
        <li><a href="/booking">Reserver</a></li>
    </ul>
</nav>