<nav>
    <div class="logoDiv">
        <img src="/img/logo.png" alt="la Branche d'Olivier" class="logo">
        <a href="/" class="logoTitle">La Branche d'Olivier</a>
    </div>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/menu">La Carte</a></li>
        <li><a href="/booking">Réserver</a></li>
    </ul>
</nav>