<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="booking">
                <h2>Réserver</h2>
                <form action="/booking" method="POST">
                    <div class="nom">
                        <label for="name">Nom <span class="required"> * </span></label>
                        <input type="text" name="name" required>
                    </div>

                    <div class="email">
                        <label for="email">Email</label>
                        <input type="email" name="email">
                    </div>

                    <div class="tel">
                        <label for="phone">Téléphone <span class="required"> * </span></label>
                        <input type="text" name="phone" required>
                    </div>

                    <div class="pax">
                        <label for="nbr_pax">Nombre de personnes <span class="required"> * </span></label>
                        <input type="text" name="nbr_pax" required>
                    </div>

                    <div class="date">
                        <label for="date">Date <span class="required"> * </span></label>
                        <input type="date" name="date" required>
                    </div>

                    <div class="hour">
                        <label for="time">Heure <span class="required"> * </span></label>
                        <input type="time" name="time">
                    </div>


                    <button type="submit">Réserver</button>
                </form>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>