<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="homepage">
                <div class="hero"></div>
                <div class="main">
                    <div class="welcome">
                        <h2>Bienvenue à la Branche d'Olivier</h2>
                        <h4>Cuisine traditionelle palestinienne</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum nisi, fugit quam soluta
                            molestiae sunt dolor molestias incidunt iste quod beatae atque, laudantium error corrupti
                            eligendi vitae facilis, totam itaque. A quaerat fuga sint quod! Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Dolorum nisi, fugit quam soluta molestiae sunt dolor
                            molestias incidunt iste quod beatae atque, laudantium error corrupti eligendi vitae facilis,
                            totam itaque. A quaerat fuga sint quod!</p>
                    </div>
                    <div class="foodImg">
                        <img src="/img/dishes.webp" alt="palestinian dishes">
                    </div>
                </div>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>