<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="homepage">
                <div class="hero"></div>
                <div class="main">
                    <div class="welcome">
                        <h2>Bienvenue à la Branche d'Olivier</h2>
                        <h4>Cuisine traditionelle palestinienne</h4>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing. Exercitationem pariatur laudantium et optio dolor tempora voluptatem repudiandae qui, similique consectetur dolorem dolore quae nam. Reiciendis nulla optio vitae harum voluptatem aperiam aliquamqui dignissimos nobis commodi, quo nisi, ratione veniam.</p>
                        </blockquote>
                        <div class="poet-info">
                            <cite>Mahmud Darwich</cite>
                        </div>
                    </div>
                    <div class="foodImg">
                        <img src="/img/dishes.webp" alt="palestinian dishes">
                    </div>
                </div>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>