<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="accueil">
                <h2>Bienvenue</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, illo.</p>
            </div>

        <%- include('./partials/footer.ejs') %>
    </body>

</html>