body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----nav.ejs------------*/

nav {
    background-color: olive;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 30;
}

.logoDiv {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 30%;

}

.logo {
    background: antiquewhite;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.logoTitle {
    color: burlywood;
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

nav li {

    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

nav a {
    color: antiquewhite;
    text-decoration: none;
}

nav a:hover {
    color: rebeccapurple;
}

/*-----footer.ejs--------*/

footer {
    background-color: olive;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    z-index:30;
}

.infos {
    display: flex;
    justify-content: space-evenly;
}

.location {
    color: antiquewhite;
    font-size: 16px;
    font-weight: 600;
}

.location a {
    color: rebeccapurple;
    cursor: pointer;
}

.hours p {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    color: burlywood;
    padding-top: 40px;
}

.copywright {
    text-align: center;
}

/*------home.ejs---------*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage {
    height: 100vh;

}

.hero {
    height: 33vh;
    margin: 0;
    padding: 0;
    background-image: url('/img/oliveTrees.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main{
    display: flex;
    justify-content: space-around;
    
}

.welcome{
    color: black;
    width: 45%;
}

.welcome h2{
    margin-left: 40%;
    margin-top: 100px;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
}

.welcome h4{
    margin-left: 40%;
    font-size: 22px;
}

.welcome p{
    margin-left: 10%;
    text-align: center;
    font-size: 20px;
    line-height: 1.3em;
}

.foodImg img{
    padding-top: 60px;
    width:500px;
}

/*-----menu.ejs---------*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuContainer{
    padding-top: 70px;
    padding-bottom: 180px;
    overflow: auto;
    z-index:10;
}

.menu h2{
    text-align: center;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 50px;
}

.dishes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 10px;
}

hr{
    width: 80%;
    margin: 50px auto
}

.dishCard{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    height: fit-content;
    
}

.dishCard img{
    width: 80px;
    height: 80px;
}

.dishDesc{
    width: 80%;
    font-size: 16px;
}

.dishDesc p{
    text-align: center;
}

.drinks{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.drinks h2{
    font-weight: 500;
    font-style: italic;
   text-align: center;
}

.hot{
    flex:1;
    
}

.hot ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.hot ul li{
    text-align: center;
}

.alcohol{
    flex:1;
}

.alcohol ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.alcohol ul li{
    text-align: center;
}

.soft{
    flex:1;
}

.soft ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.soft ul li{
    text-align: center;
}
